
@import "../node_modules/bootstrap/scss/bootstrap";


$breakpoints: (
  'sm': 'screen and (max-width: 481px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1030px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;
@mixin mq($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }

//===============================
//変数
//===============================

$baseColor: #ffffff;
$mainColor: #4290c0;
$mainColor2: #a57f2c;
$subColor: #223367;
$accentColor: #ff0902;
$color555: #555;
$sidebarColor: #626262;

$margin: 0 auto;
$padding40: 0 40px;
$padding24: 0 24px;
$padding16: 0 16px;
$width100: 100%;
$width95: 95%;
$width70: 70%;
$width30: 30%;
$height100: 100%;

@import "../Foundation/reset";
@import "../Foundation/base";

@import "../Layout/header";
@import "../Layout/content";
@import "../Layout/sidebar";
@import "../Layout/footer";

@import "../Object/project/page";
@import "../Object/project/pagenation.scss";
@import "../Object/project/profile";
@import "../Object/project/main";

@import "../Object/Component/nav";
@import "../Object/Component/page";
@import "../Object/Component/widget";
@import "../Object/Component/pagenation";
@import "../Object/Component/archive";
@import "../Object/Component/header";
@import "../Object/Component/section";

@import "../Object/Utility/color";
@import "../Object/Utility/flex";
@import "../Object/Utility/llink";
@import "../Object/Utility/img";
@import "../Object/Utility/padding";
@import "../Object/Utility/form";
