.p-page{
    display: flex;
    flex-wrap: wrap;
    &__each{
        width: 48%;
        margin-bottom: 25px;
        position: relative;
        background-color: $baseColor;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.12),
                    0 2px 3px 0 rgba(0,0,0,0.22);
        cursor: pointer;
        transition: all .2s ease-in-out;
        border-radius: 2px;
        animation: fadeIn 0.7s ease-in-out normal;
        @keyframes fadeIn{
            0%{
                transform: translateY(30px);
                opacity: 0;
            }
            100%{
                transform: translateY(0);
                opacity: 1;
            }
        }
        @include mq(){
            width: 100%;
        }
        &:nth-child(odd){
            margin-right: 4%;
            @include mq(){
                margin-right: 0;
            }
        }
        &:hover{
            transform: translateY(-4px);
            box-shadow: 0 15px 30px -5px rgba(0,0,0,0.15),
            0 0 5px rgba(0,0,0,0.1);
        }
    }
    &__link{
        display: block;
        height: 100%;
    }
    &__notfound{
        width: 100%;
        background-color: #fff;
    }
}
.p-notfound{
    &__title{
        padding: 1em 0.5em;
        text-align: center;
        font-size: 1.1em;
    }
    &__content{
        padding: 2em;
        .p-notfound__search{
            background-color: #f2f2f2;
        }
    }
    &__text{
        margin: 1em 0;
    }
    &__form{
        max-width: 400px;
    }
}
