.l-content{
    margin-top: 2em;
    padding-bottom: 2em;
    &__inner{
        max-width: 1180px;
        margin: $margin;
        padding: $padding40;
        .l-main{
            width: $width70;
            padding-right: 30px;
        }
    }
}