.l-header{
    height: auto;
    position: relative;
    &__inner{
        max-width: 1180px;
        padding: $padding40;
        margin: $margin;
        height: $height100;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .l-title{
            height: 60px;
            line-height: 60px;
            &__link{
                color: white;
                font-size: 1.4em;
                &:last-child{
                    padding-right: 0;
                }
            }
            @include mq($breakpoint: md){
                margin: $margin;
            }
        }
    }
    @include mq($breakpoint: md){
        &__inner{
            padding: $padding24;
        }
    }
}