.c-page__img{
    width: $width100;
    margin: 15px 0;
    .c-img{
        width: $width100;
        vertical-align: bottom;
    }
    img{
        width: $width100;
        height: 100%;
    }
}
.c-page__title{
    //padding-top: 0.5em;
    .c-title{
        margin: 0 14px 8px;
        font-size: 1em;
        line-height: 1.56;
        color: #555;
        @include mq(){
            font-size: 0.9em;
        }
    }
    .c-content{
        margin-bottom: 1em;
    padding: 0 13px;
    }
}
.c-page__link{
    
    height: 100%;
    padding-bottom: 10px;
}
.c-cate{
    .post-categories{
        position: static;
        margin-bottom: 1em;
        padding: 0 13px;
    }
}
.c-content{
    padding: 0 13px;
}
.c-page__time{
    margin: 13px 13px 8px;
    color: #b5b5b5;
    font-size: 13px;
    display: block;
}