.c-pagenation{
    margin: 1.5em 0;
    &__numbers{
        padding: 1.5em 0;
        text-align: center;
        justify-content: center;
    }
    &__item{
        margin: 5px;
    }
}
.c-numbers{
    width: 46px;
    height: 46px;
    line-height: 46px;
    display: inline-block;
    border-radius: 5px;
}