.c-widget{
    background-color: $baseColor;
    margin-bottom: 2.5em;
    &__bar{
        background-color: $mainColor;
        color: $baseColor;
        padding: 8px 13px;
        font-size: 1.4em;
    }
    .c-textwidget{
        padding-bottom: 1em;
    }
    ul{
        padding: 8px 10px;
    }
    li{
        font-weight: bold;
        a{
            display: block;
            padding: 8px;
            color: $sidebarColor;
            &:hover{
                color: $sidebarColor;
                background-color: #efefef;
                transition: all .3s;
                text-decoration: none;
            }
        }
    }
    &__form{
        position: relative;
    }
    &__search{
        outline: none;
        width: $width100;
        padding-right: 48px;
        height: 45px;
        border-radius: 3px;
        border: none;
        font-size: 1em;
        display: block;
        line-height: 45px;
        padding: 0 0 0 10px;
    }
    &__submit{
        position: absolute;
        top: 0;
        right: 0;
        height: 45px;
        width: 45px;
        border: none;
        color: $baseColor;
        border-radius: 0 3px 3px 0;
        font-size: 22px;
        background-color: $mainColor;
    }
}